---
layout: default
---
<div class="small-12 medium-8 columns">
  <section>
    <div class="small-12 medium-8 columns">
      <strong>Do you need awesome consultants, or a great speaker?</strong>
    </div>
    <div class="small-12 medium-4 columns">
      <a class="button button-flat button-block primary" href="/contact">Get In Touch!</a>
    </div>
  </section>


  <h3>Open Source Software</h3>
  {% for project in site.projects %}
  <div class="row">
    <div class="small-12 columns">
      <h4><a class="post-link" href="{{ project.site }}">{{ project.name }}</a></h4>
    </div>
    <div class="small-12 medium-6 columns">
      <img class="thumbnail" src="{{ project.image }}" />
    </div>
    <div class="small-12 medium-6 columns">
      <div><small>{{ project.description }}</small></div>
    </div>
  </div>
  {% endfor %}

</div>



<div class="small-12 medium-4 columns">
  <h3>Recent Blog Posts</h3>
  <ul class="post-list">
    {% for post in site.posts limit:10  %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <strong><a href="/blog">Listing of all {{ site.posts | size }} posts</a></strong>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
