<head>

  <!-- Meta Tags -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">

  <title>{{ site.title }} - {{ page.title }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/style.css" media="all">

  <!-- Javascripts -->
  <script type="text/javascript" src="/assets/js/modernizr.js"></script>
  <script type="text/javascript" src="/assets/js/detection.js"></script>

</head>
