<script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<script type="text/javascript" src="/assets/js/headroom.js"></script>
<script type="text/javascript" src="/assets/js/jquery.unveilEffects.js"></script>
<script type="text/javascript" src="/assets/js/easyResponsiveTabs.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
