<div class="navbar">
  <nav class="site-navigation navigation">
    <ul id="primary" class="primary-menu">
      <li class="current-menu-item">
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="#">Consulting</a>
        <ul class="sub-menu">
          <li>
            <a href="portfolio2.html">

                2 Columns

              </a>
          </li>
          <li>
            <a href="portfolio3.html">

                3 Columns

              </a>
          </li>
          <li>
            <a href="portfolio4.html">

                4 Columns

              </a>
          </li>
          <li>
            <a href="single-portfolio.html">

                Single Template

              </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Community</a>
        <ul class="sub-menu">
          <li>
            <a href="blog-fullwidth.html">Blog Fullwidth</a>
          </li>
          <li>
            <a href="timeline-blog.html">Vertical Timeline</a>
          </li>
          <li>
            <a href="single-blog.html">Single Blog Post</a>
          </li>
          <li>
            <a href="single-blog-timeline.html">Single Blog Timeline</a>
          </li>
          <li>
            <a href="blog-sidebar.html">Blog with Sidebar</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="sample.html">Gaming</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>

    <a href="#" class="nav-toggle icon-menu" aria-hidden="false"></a>
  </nav>
</div>
