{% assign urlParts = page.url | split:'/' %}
<div class="navbar">
  <nav class="site-navigation navigation">
    <ul id="primary" class="primary-menu">
      <li {% if page.url == "/index.html" %}class="current-menu-item"{% endif %}>
        <a href="/">Home</a>
      </li>
      {% for section in site.navigation %}
      <li {% if urlParts contains section.url %}class="current-menu-item"{% endif %}>
        <a href="/{{ section.url }}">{{ section.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <a href="#" class="nav-toggle icon-menu" aria-hidden="false"></a>
  </nav>
</div>
