.blog-content {
  pre {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }

  code {
    text-transform: none;
    font-family: "Lucida Console", Monaco, monospace;
  }

  ol, ul {
    list-style: initial;
    margin-left: 20px;
    text-transform: none;
    color: #777;
  }
}
