<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="columns small-12">
        {% include header.html %}
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="columns small-12">
        {{ content }}
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/what-input.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(".post-content img").addClass("thumbnail small-6");
      $(document).foundation();
    </script>
    {% include footer.html %}

  </body>

</html>
